#banner {
    background-image: url(../images/aboutbg.jpg);
    background-position: center center;
    background-size: cover ;
    height: 500px;
    margin-top:3.5rem;
}
.title {
    color: #fa8072;
    font-weight: bold;
}